@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.alert {
    background-color: skyblue;
    font-family: 'Poppins';
    text-align: center;
    margin-bottom:0px;
    border: solid rgb(60, 120, 144); 
    border-radius: 0px;
}

body {
    margin:0px;
}

.bg-limit {
    background-image: url("../images/bg/bg_img.jpg");
    width: 100%;
    min-height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeTitle{
    color:whitesmoke;
    font-family: 'Poppins';
    text-align: center;
    font-size: 80px;
    font-weight: bold;  
    padding-top:50px;
    margin-top: 30px;
}

.homePicture {
    margin-top: 30px;
}

.homeText {
    color:whitesmoke;
    font-family: 'Poppins';
    text-align: center;
    font-size: large;
}

.homeContent {
    color:whitesmoke;
    font-family: 'Poppins';
    text-align: center;
    font-size: large;
    border: 10px solid;
}

.achievement_icon {
    border-radius: 100px;
    width:200px;
    height:auto;
}

.songs_icon {
    border-radius: 100px;
    width:200px;
    height:auto;

}

.recommendation_icon {
    border-radius: 100px;
    width:200px;
    height:auto;
}

.icons {
    margin-top: 40px;
    text-align: center;
}

.iconText {
    color:whitesmoke;
    font-family: 'Poppins';
    text-align: center;
    font-size: large;
    padding-top: 20px;
}
