@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
}

.bg-limit {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login_wrapper {
    background-color: black;
    width: max(40vw, 300px);
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 65px 55px 54px;
    margin:23px;
}

.login-form {
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.logo img {
    padding-right: 10px;
    width: 300px;
}

.title {
    padding-bottom: 49px;
    display: block;
    text-align: center;
    line-height: 1.2;
}

.title h1 {
    font-size: 39px;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
}

.title h6 {
    font-family: 'Poppins';
    color: white;
}

.input-box {
    width: 100%;
    margin-bottom: 13px;
    position: relative;
    border-bottom: 2px solid darkgrey;
}

.label-input {
    color: whitesmoke;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.5;
    padding-left: 7px;
    display: block;
    
}

.input-field {
    background-image: initial;
    background-color: initial;
    outline: none;
    border: none;
    color: whitesmoke;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    display: inline-block;
    width: 100%;
    height: 55px;
    padding: 0 7px 0 43px;
    z-index: 1;
}

#icons {
    position: absolute;
    display: block;
    padding-top: 15px;
    padding-left: 7px;
    width: 50px;
    height: 50px;
    color: white
}

.input-val #error-ico {
    float: right;
    width: 40px;
    height: 40px;
    padding-top: 15px;
    padding-left: 7px;
    color: palevioletred;
}

@media (max-width: 1155px) {
    #error-ico {
        display: none;
    }
}

.error-msg {
    font-family: 'Poppins';
    line-height: 1.2;
    color: palevioletred;
    text-align: end;
}

.submit-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.shadow-wrapper {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0 #9B0DEA;
}

.submit-button-container .submit-button {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    outline: none;
    border: none;
    background: -webkit-linear-gradient(left, #FF3CAC, #784BA0, #2B86C5);
    transition: height .25s, font-size .25s;
    color: white;
}

.submit-button:hover {
    height: 55px;
    font-size: 18px;
}

.redirect {
    font-family: 'Poppins';
    line-height: 1.2;
    color: lightblue;
    text-align: end;
    padding-top:20px;
}

.redirect a:hover{
    color: #784BA0; 
}

.guest {
    font-family: 'Poppins';
    line-height: 1.2;
    color: lightblue;
    text-align: end;
}

.guest a:hover {
    color: #784BA0;
}