@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

.songsbox a {
    text-decoration: none;
}

.song_container {
    position: relative;
    display: inline-block;
    width: max(280px, 17vw);
    height: 400px;
    margin: 10px;
    border-radius: 10px;
}

.song_bg {
    height: 385px;
    width: max(265px, 16.2vw);
    margin-left: 7.5px;
    margin-top: 7.5px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px black;
}

.songs_box .song_container:hover {
    box-shadow: 0 0 8px 8px whitesmoke;
}

.song_container img {
    margin-top: 55px;
    width: 190px;
    height: 190px;
}

.s_name {
    position: absolute;
    width: 140px;
    height: 30px;
    top: 265px;
    left: min(9vw, 52px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.chart_const {
    position: absolute;
    width: 57px;
    top: 260px;
    left: min(43.5vw, 197px);
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

.chart_diff {
    position: absolute;
    border-radius: 0 10px 0 10px;
    padding-right: 10px;
    padding-left: 10px;
    top: 0px;
    right: 0px;
    color: white;
}

.c_type {
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px 0 10px 0;
    box-shadow: 1px 1px 2px 1px black;
}

.song_container .badge {
    position: absolute;
    top: 290px;
    left: min(5vw, 40px);
    font-size: 30px;
    background: -webkit-linear-gradient(left, red , yellow, cyan, purple);
    background: -o-linear-gradient(right, red, yellow, cyan, purple);
    background: -moz-linear-gradient(right, red, yellow, cyan, purple);
    background: linear-gradient(to right, red , yellow, cyan, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.score {
    position: absolute;
    top: 340px;
    left: min(9vw, 55px);
    font-size: 18px;
    font-style: italic;
    font-family: 'Megrim', 'cursive';
    color: white;
}

.song_container .rating_val {
    position: absolute;
    bottom: -6px;
    right: 1px;
    text-shadow: 2px 2px 3px black;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}