@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

.modal-header {
    color: white;
}

.modal-header .modal_label {
    height: max(3.2vw, 45px);
    width: 33vw;
    text-align: start;
    overflow: hidden;
}

.modal-header .cons_label {
    margin-right: 10px;
}

.modal-body {
    height: 700px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #1b1b1b;
}

.modal-body .song_img {
    position: absolute;
    left: max(1.5vw, 10px);
    width: 190px;
    height: 190px;
}

.modal-body .user_stats {
    position: absolute;
    top: 40px;
    left: max(13vw, 215px);
    text-align: start;
}

.modal-body .user_stats .score_header {
    font-family: 'Megrim', 'cursive';
    color: white;
}

.modal-body .user_stats .dx {
    margin-top: 30px;
    text-shadow: 3px 3px 3px black;
    color: #FFBF00;
}

.modal .modal-body .user_stats .rank_label {
    width: 80px;
    background-image: none;
}

.modal-body .user_stats .score_label {
    font-size: 25px;
    font-style: italic;
    font-family: 'Megrim', 'cursive';
    color: white;
}

.modal-body .clear_badges h4 {
    color: white;
}

.modal-body .clear_badges {
    background-color: #141414;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px #8a8a8a;
    width: 250px;
    height: 200px;
    position: absolute;
    right: 30px;
    top: 15px;
}

.modal-body .clear_badges .ap_badges {
    height: 100px;
    text-align: center;
    border-bottom: 1px solid #8a8a8a;
    position: relative;
}

.modal-body .clear_badges .fsd_badges {
    height: 100px;
    text-align: center;
    position: relative;
}

.modal-body .clear_badges h4 {
    position: absolute;
    width: 150px;
    top: 30px;
    left: 5px;
    font-size: 30px;
}

.modal-body .clear_badges .empty_badges {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #3b3b3b;
    box-shadow: 0 0 7px 5px black inset;
}

.modal-body .clear_badges .empty_badges .medal {
    width: 70px;
    height: 70px;
}

.modal-body .note_stats {
    position: absolute;
    top: 250px;
    left: 28px;
    width: 350px;
    text-align: start;
    border-top: 2px solid white;
    padding-top: 30px;
    text-overflow: ellipsis;
    color: white;
}

.modal-body .note_stats h3 {
    font-family: 'Poppins';
    font-weight: 200;
    padding-bottom: 10px;
}

.modal-body .radar_div {
    position: absolute;
    top: 250px;
    right: 15px;
    padding-right: 15px;
    height: max(20.5vw, 410px);
    width: max(20vw, 410px);
    text-align: center;
    color: white;
}

.modal-body .error_radar {
    height: max(20.5vw, 330px);
    width: max(20vw, 330px);
}

.modal-footer {
    background-color: #1b1b1b;
}

.modal-footer button {
    color: white;
    font-weight: bold;
}

.modal-footer button:hover {
    color: black;
    font-weight: bold;
    box-shadow: 0 0 3px 3px cyan;
}


@media screen and (max-width: 990px) {
    .modal-body {
        height: 1105px;
    }
    .modal-body .clear_badges {
        top: 235px;
        left: 70px;
    }
    .modal-body .user_stats {
        top: 20px;
        left: 220px;
    }
    .modal-body .note_stats {
        position: static;
        margin-top: 430px;
        margin-left: 20px;
        margin-right: 20px;
        width: 350px;
    }
    .modal-body .radar_div {
        position: static;
        margin-top: 10px;
    }
    .modal-body .error_radar {
        margin-top: 30px;
    }
}

@media screen and (max-width: 400px) {
    .modal-body {
        height: 1060px;
    }
    .modal-body .radar_div {
        width: 97vw;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-body .error_radar {
        margin-top: 5px;
        width: 300px;
        height: 300px;
    }
    .modal-body .song_img {
        left: 5px;
        width: 160px;
        height: 160px;
    }
    .modal-body .user_stats {
        top: 20px;
        left: 170px;
    }
    .modal-body .note_stats {
        margin-top: 430px;
        margin-left: 20px;
        margin-right: 20px;
        width: 300px;
    }
    .modal-body .clear_badges {
        left: 40px;
    }
}

@media screen and (max-width: 359px) {
    .modal-body {
        height: 1010px;
    }
}