@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
    background: #141414;
}

#headtitle {
    margin-top: 3vh;
    color: white;
}

#headtitle h1 {
    font-family: 'Megrim', 'cursive';
}

.rec_hr {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: max(2vw, 20px);
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.player_chart {
    width: max(30vw, 350px);
}

.songs_box {
    margin-top: 10px;
    overflow-y: scroll;
    text-align: center;
}

.songs_box::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 3px;
}

@media screen and (max-width: 600px) {
    .container {
        display: block;
    }
    .rec_hr {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .player_chart {
        margin-left: 15px;
    }
}