{% extends 'navbar.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/songbox.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/songmodal.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,1,0" />
{% endblock %}

{% block body %}
<main>
    <div class="jumbotron text-center" id="headtitle">
        <h1 class="display-4">BEST SONG SCORES:</h1>
        <h2>{{ username }}</h2>
    </div>
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownList" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selected_option }}
            </button>
            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownList">
                <span class="dropdown-item-text">----------Select filter----------</span>
                <a class="dropdown-item {{ all }}" href="{{ url_for('achievement', usr_id=usr_id, filter_id='all-songs') }}">All songs rating</a>
                <a class="dropdown-item {{ new }}" href="{{ url_for('achievement', usr_id=usr_id,filter_id='new-songs-only') }}">New songs rating</a>
                <a class="dropdown-item {{ old }}" href="{{ url_for('achievement', usr_id=usr_id, filter_id='old-songs-only') }}">Old songs rating</a>
            </div>
        </div>
    </div>
    <hr class="achieve_hr">
    <div class="songs_box" id="songbox">
            {% for song in songs %}
                {% with name=song.detail.name,
                        id=song.chart_id,
                        diff=song.diff,
                        level=song.level,
                        cons=song.cons,
                        score=song.user_stats.score,
                        rank=song.user_stats.rank,
                        rating=song.user_stats.rating,
                        ap=song.user_stats.ap,
                        fsd=song.user_stats.fsd,
                        img=song.detail.img,
                        alias=song.detail.alias,
                        artist=song.detail.artist,
                        genre=song.detail.genre,
                        bpm=song.detail.bpm,
                        version=song.detail.version,
                        dxscore=song.user_stats.dxscore,
                        c_type=song.c_type,
                        m_color = song.m_color,
                        base=song.c_palette["base"],
                        bg=song.c_palette["bg"],
                        rate=song.c_palette["rate"],
                        accent=song.c_palette["accent"],
                        text=song.c_palette["text"],
                        chart=song.chart  %}
                    {% include 'song_block.html' %}
                    {% include 'song_modal.html' %}
                {% endwith %}
            {% endfor %}
    </div>
</main>
{% endblock %}