<div class="container-fluid" id="foot_box">
    <hr class="footer_hr">
    <a href="#top" class="footer_link">Return to top!</a>
    <div class="info">Support us @ <a href="https://github.com/SIT-J-Divison/maimai-statviewer" class="foot_info">https://github.com/SIT-J-Divison/maimai-statviewer</a>!</div>
    <div class="devs">
        <div class="dev_label">Contributers: </div>
        <div class="dev_ppl">OhsterTohster @Github<br>Alepha @Github<br>Ngraysn @Github<br>NgYouJuin @Github</div>
</div>